.product-page-background {
    background-color: rgb(45, 45, 45);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    justify-content: center;
}

/* navbar  */
.container-navbar {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-navbar h1 {
    color: goldenrod;
    margin-left: 15px;
}

.container-cart-user {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 10px 20px auto auto;
}

.container-cart-user img {
    transition: linear all 0.2s;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.container-cart-user img:hover {
    transition: linear all 0.2s;
    transform: scale(1.1);
}

.cart-icon {
    filter: invert(77%) sepia(87%) saturate(1460%) hue-rotate(345deg) brightness(90%) contrast(88%);
}

.user-icon {
    filter: invert(100%) sepia(0%) saturate(15%) hue-rotate(287deg) brightness(106%) contrast(103%);
}

/* main products display */
.container-products {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-single-product {
    transition: linear all 0.2s;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-single-product:hover {
    transition: linear all 0.2s;
    background-color: rgb(218, 165, 32, 0.3);
}

.container-single-product img {
    margin: 0 auto 0 auto;
    height: 200px;
    width: 200px;
}

.container-single-product h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.price {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.container-type-material {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

/* left-side filters */
.container-filters {
    grid-column: 1;
    grid-row: 1 / -1;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.container-filters h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3rem;
}

.container-filters h3 {
    font-size: 1.25rem;
    color: goldenrod;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid goldenrod;
}

.container-filters p {
    transition: linear all 0.1s;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.container-filters p:hover {
    transition: linear all 0.1s;
    transform: translateX(5px);
}

.container-type {
    margin-top: 2rem;
}

.container-material {

}
