<div class="product-page-background">
    <!-- logo, cart & account -->
    <header class="container-navbar">
        <h1>All That Glitters is Gold</h1>
        <div class="container-cart-user">
            <img src="/assets/images/products/cart-shopping-solid.svg" alt="cart" class="cart-icon" (click)="toggleCartModal()">
            <span class="cart-count">{{cart.length}}</span>

            <img src="/assets/images/products/user-solid.svg" alt="user-profile" class="user-icon" (click)="toggleProfileModal()">
        </div>
    </header>
    <!-- display list of products -->
    <main class="container-products">
        <div *ngFor="let product of products;" class="container-single-product" (click)="addToCart(product)">
            <!-- image for testing only -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC-uPVLJimMVmuMaIvuspIGDIDEAa8XOmdjw&usqp=CAU" alt="{{product.name}}-img">
            <h3>{{product.name}}</h3>
            <p class="price">${{product.price}}</p>
            <div class="container-type-material">
                <p>{{product.type}}</p>
                |
                <p>{{product.material}}</p>
            </div>
        </div>
    </main>
    <!-- filters -->
    <div class="filters-placement">
        <app-filters></app-filters>
    </div>
    <!-- cart component -->
    <app-cart [openModalCommand]="openModalCommand"></app-cart>
    <!-- user profile modal -->
    <section class="modal-background" [ngClass]="{'display-modal': profileModalToggle}">
        <div class="modal">
            <img src="/assets/images/login/x-solid.svg" alt="close-icon" class="close-icon" (click)="toggleProfileModal()">

            <h4 class="user-name">{{userProfile}}</h4>
            <button type="button" class="btn-order-history" (click)="viewOrderHistory()">View Order History</button>
            <button type="button" class="btn-logout" (click)="logout()">Logout</button>
        </div>
    </section>
</div>