<div class="product-page-background">
    <!-- logo, cart & account -->
    <header class="container-navbar">
        <h1>All That Glitters is Gold</h1>
        <div class="container-cart-user">
            <img src="/assets/images/products/cart-shopping-solid.svg" alt="cart" class="cart-icon" (click)="toggleCartModal()">
            <span class="cart-count">{{cart.length}}</span>

            <img src="/assets/images/products/user-solid.svg" alt="user-profile" class="user-icon" (click)="toggleProfileModal()">
        </div>
    </header>
    <!-- display list of products -->
    <main class="container-products">
        <div *ngFor="let product of products;" class="container-single-product" (click)="addToCart(product)">
            <!-- image for testing only -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC-uPVLJimMVmuMaIvuspIGDIDEAa8XOmdjw&usqp=CAU" alt="{{product.name}}-img">
            <h3>{{product.name}}</h3>
            <p class="price">${{product.price}}</p>
            <div class="container-type-material">
                <p>{{product.type}}</p>
                |
                <p>{{product.material}}</p>
            </div>
        </div>
    </main>
    <!-- filters -->
    <aside class="container-filters">
        <h2>Filter by...</h2>
        <ul class="container-type">
            <h3>Type</h3>
            <p (click)="filterType('ring'); activeFilter($event)">Ring</p>
            <p (click)="filterType('necklace'); activeFilter($event)">Necklace</p>
            <p (click)="filterType('earrings'); activeFilter($event)">Earrings</p>
            <p (click)="filterType('bracelet'); activeFilter($event)">Bracelet</p>
        </ul>
        <ul class="container-material">
            <h3>Material</h3>
            <p (click)="filterMaterial('gold'); activeFilter($event)">Gold</p>
            <p (click)="filterMaterial('silver'); activeFilter($event)">Silver</p>
            <p (click)="filterMaterial('platinum'); activeFilter($event)">Platinum</p>
        </ul>
    </aside>
    <!-- cart modal -->
    <section class="modal-background" [ngClass]="{'display-modal': cartToggle}">
        <div class="modal">
            <img src="/assets/images/login/x-solid.svg" alt="close-icon" class="close-icon" (click)="toggleCartModal()">
            <h4>In your cart:</h4>
            <div *ngFor="let cartItem of cart" class="container-cart-single" (click)="removeCartItem(cartItem)">
                <p class="cart-item">{{cartItem.name}}</p>
                <p>${{cartItem.price}}</p>
            </div>
            <p class="price-total">${{cartPriceTotal}}</p>
        </div>
    </section>
    <!-- user profile modal -->
    <section class="modal-background" [ngClass]="{'display-modal': profileModalToggle}">
        <div class="modal">
            <img src="/assets/images/login/x-solid.svg" alt="close-icon" class="close-icon" (click)="toggleProfileModal()">

            <h4 class="user-name">{{userProfile}}</h4>
            <button type="button" class="btn-order-history" (click)="viewOrderHistory()">View Order History</button>
            <button type="button" class="btn-logout" (click)="logout()">Logout</button>
        </div>
    </section>
</div>